#firstImage
    background-image: url('../../assets/futuristic-smart-city-with-5g-global-network-technology1002.jpg')
    background-size: cover
    
    height: 70vh

#firstImage h1
        line-height: 70vh
        text-align: center
        color: white
        pading-left: auto
        padding-right: auto


.example-card
    min-height: 190px
    background: linear-gradient(0.25turn,rgb(0,166,167),rgb(0,101,171)) 
    color: white


.example-card:hover
        transform: scale(1.10)
        transition: all 0.5s ease-in-out

.container
    margin: 20px
