<body>
  <div>

    <div *ngIf="state" [@enter]="{ value: '', params: { duration: 5000, delay:0 } }" id="firstImage" >
        
            <h1 *ngIf="state" [@enter]="{ value: '', params: { duration: 5000 } }">
                Integración Negocios Empresariales
            </h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px" fxLayout.xs="column" wmAnimate="fadeInUp" speed="slow" aos class="container">
        
                <mat-card class="example-card">
                    <mat-card-title align="center"><mat-icon>handyman</mat-icon></mat-card-title>
                    <br>
                    <mat-card-content>
                      <h4>Servicio técnico personalizado</h4>
                      <p>
                        Ofrecemos la mejor atención para sus necesidades a través de soluciones rápidas y eficaces
                      </p>
                    </mat-card-content>
                </mat-card>
            
              <mat-card class="example-card">
                <mat-card-title align="center"><mat-icon>delivery_dining</mat-icon></mat-card-title>
                <br>
                <mat-card-content>
                  <h4>200 Clientes</h4>
                  <p>
                    Trabajamos con más de doscientos clientes en todo el país
                  </p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card">
                <mat-card-title align="center"><mat-icon>build</mat-icon></mat-card-title>
                <br>
                <mat-card-content>
                  <h4>Servicio técnico personalizado</h4>
                  <p>
                    Ofrecemos la mejor atención para sus necesidades a través de soluciones rápidas y eficaces
                  </p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card">
                <mat-card-title align="center"><mat-icon>settings</mat-icon></mat-card-title>
                <br>
                <mat-card-content>
                  <h4>Servicio técnico personalizado</h4>
                  <p>
                    Ofrecemos la mejor atención para sus necesidades a través de soluciones rápidas y eficaces
                  </p>
                </mat-card-content>
              </mat-card>
    </div>
  </div>
</body>